@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Noto+Sans:wght@400;700&display=swap");
.snow-container {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 999999;
  padding: 5px;
  justify-content: space-between;
  z-index: 1;
}
.snow-flake {
  color: #fff;
  animation: fall 10s linear infinite;
  height: 100%;
  opacity: 0;
}
@keyframes fall {
  0% {
    opacity: 0;
  }
  3% {
    opacity: 0.9;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    transform: translate(0, 100vh);
    opacity: 0;
  }
}

.main {
  width: 100%;
  min-width: 280px;
  height: 700px;
  position: relative;
  background: -o-linear-gradient(150deg, #0c2f55, #2d5a95, #257d95);
  background: linear-gradient(300deg, #0c2f55, #2d5a95, #257d95);

  img {
    -webkit-touch-callout: none !important;
    pointer-events: none !important;
    -webkit-user-select: none !important;
    -moz-user-select: -moz-none !important;
    -ms-user-select: none !important;
    user-select: none !important;
  }
  .mainBg {
    width: 100%;
    min-width: 280px;
    height: 711px;
    background: url("../img/mainImgBg.png") bottom no-repeat;
    background-size: cover;
    position: relative;
    -webkit-animation: ani 2.5s infinite alternate;
    animation: ani 2.5s infinite alternate;
    z-index: 12;
  }

  .mainImgLeft {
    width: 730px;
    height: 600px;
    background: url("../img/mainImgLeft2.png") center no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 0;
    left: 40px;
    -webkit-animation: aniLeft 2s infinite alternate;
    animation: aniLeft 2s infinite alternate;
    z-index: 10;
  }
  @-webkit-keyframes aniLeft {
    0% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
    100% {
      -webkit-transform: translate(0px, 10px);
      transform: translate(0px, 10px);
    }
  }
  @keyframes aniLeft {
    0% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
    100% {
      -webkit-transform: translate(0px, 10px);
      transform: translate(0px, 10px);
    }
  }
  .mainImgRight {
    width: 730px;
    height: 600px;
    background: url("../img/mainImgRight2.png") center no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    right: 40px;
    -webkit-animation: aniRight 1.5s infinite alternate;
    animation: aniRight 1.5s infinite alternate;
    z-index: 9;
  }
  @-webkit-keyframes aniRight {
    0% {
      -webkit-transform: translate(0, 5px);
      transform: translate(0, 5px);
    }
    100% {
      -webkit-transform: translate(0px, 0);
      transform: translate(0px, 0);
    }
  }
  @keyframes aniRight {
    0% {
      -webkit-transform: translate(0, 5px);
      transform: translate(0, 5px);
    }
    100% {
      -webkit-transform: translate(0px, 0);
      transform: translate(0px, 0);
    }
  }
  .mainWrap {
    width: 60%;
    min-width: 280px;
    padding: 0 20px;
    margin: 0 auto;
    vertical-align: top;
    font-size: 0;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 20;
  }
  .mainTitle {
    font-size: 60px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    letter-spacing: -0.025em;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.16);
    word-break: keep-all;
    span {
      font-weight: 700;
    }
  }
  .mainText {
    color: #fff;
    font-size: 16px;
    width: 100%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    letter-spacing: -0.025em;
    margin-top: 20px;
    word-break: keep-all;
  }
  .mainLogo {
    width: 100px;
    height: 80px;
    display: inline-block;
    background: url("../img/logoW.svg") center no-repeat;
    background-size: contain;
  }
}
.contentsWrap {
  max-width: 1320px;
  min-width: 280px;
  padding: 50px 20px 150px 20px;
  margin: 0 auto;
  .contentsTitle {
    width: 100%;
    text-align: center;
    color: #222;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    letter-spacing: -0.025em;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 20px;
    word-break: keep-all;
  }
  .contentsTitle > span {
    font-size: 26px;
  }
  .contnetsText {
    width: 100%;
    text-align: center;
    color: #222;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    word-break: keep-all;
    span {
      font-weight: 700;
      font-size: 14px;
      word-break: break-all;
    }
    div {
      word-break: break-all;
    }
  }
}
.wrapBlue {
  width: 100%;
  min-width: 280px;
  background: #eff6ff;
  position: relative;
  .blueLine {
    width: 100%;
    height: 60px;
    position: absolute;
    top: -50px;
    background: url(../img/blueTop.svg) bottom repeat-x;
    background-size: 605px;
  }
  .contentsWrap .contentsTitle {
    color: #3a8fff;
  }
}
.wrapGreen {
  width: 100%;
  min-width: 280px;
  background: #e0efe8;
  position: relative;
  .greenLine {
    width: 100%;
    height: 60px;
    position: absolute;
    top: -50px;
    background: url(../img/greenTop.svg) bottom repeat-x;
    background-size: 605px;
  }
  .contentsWrap .contentsTitle {
    color: #11aa8b;
  }
}
.wrapCard {
  width: 100%;
  margin-top: 40px;
  font-size: 0;
  text-align: left;
}
.cardArea {
  width: 20%;
  display: inline-block;
  padding: 10px;
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  button {
    width: 100%;
    background: #fff;
    border-radius: 20px;
    padding: 10px;
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    -webkit-box-shadow: 0px 0px 10px rgba(129, 180, 158, 0.2);
    box-shadow: 0px 0px 10px rgba(129, 180, 158, 0.2);
  }
  .cardImg {
    width: 100%;
    img {
      max-width: 100%;
      border-radius: 15px;
      -webkit-touch-callout: none !important;
      pointer-events: none !important;
      -webkit-user-select: none !important;
      -moz-user-select: -moz-none !important;
      -ms-user-select: none !important;
      user-select: none !important;
    }
  }
  .cardName {
    width: 100%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 16px;
    padding: 20px 0 0 0;
    color: #81b49e;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }
  .collectionImg {
    width: 100%;
    position: relative;
    img {
      max-width: 100%;
      border-radius: 15px;
      -webkit-touch-callout: none !important;
      pointer-events: none !important;
      -webkit-user-select: none !important;
      -moz-user-select: -moz-none !important;
      -ms-user-select: none !important;
      user-select: none !important;
    }
    .example {
      position: absolute;
      top: -1px;
      right: -1px;
      width: 100%;
      height: 100%;
      background: url(../img/example.png) center no-repeat;
      background-size: 100%;
      border-radius: 15px;
      overflow: hidden;
    }
  }
}

.blank {
  width: 100%;
  height: 100px;
}
.openTitle {
  font-size: 20px;
  margin-top: 10px;
}
.openTitle.big {
  font-size: 32px;
  margin-top: 10px;
}
.openSubtitle {
  font-size: 16px;
  margin-top: 10px;
  color: #d1ddef;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: inline-block;
  text-align: center;
  span {
    color: #fff;
  }
}
.btnBuy {
  padding: 0 60px;
  background: #11aa8b;
  color: #fff;
  border-radius: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 60px;
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.26);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.26);
  margin-top: 20px;
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.btnBuy.red {
  background: #d74a50;
}
.btnPreparing {
  padding: 0 60px;
  background: #8da099;
  border-radius: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 60px;
  color: #fff;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.16);
  margin-top: 20px;
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.btnBuy:hover {
  background: #11aa8b;
  color: #fff;
  -webkit-box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.26);
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.26);
}
.btnBuy.red:hover {
  background: #d74a50;
}
.mainCount {
  margin-top: 20px;
  .countTitle {
    letter-spacing: -0.025em;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
  }
}
.counter {
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  margin-top: 10px;
}
.counter > div {
  border-radius: 5px;
  display: inline-block;
  margin-right: 10px;
  span {
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    display: inline-block;
    min-width: 60px;
    font-weight: 400;
    line-height: 40px;
    color: #fff;
    border-radius: 50%;
  }
}
.counter .smallText {
  padding-top: 5px;
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: center;
}
.counterDate {
  margin-bottom: 30px;
  letter-spacing: -0.025em;
  line-height: 1.71;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  margin-top: 10px;
}

@media all and (max-width: 1800px) {
  .main {
    .mainImgLeft {
      left: 0;
      width: 40%;
    }
    .mainImgRight {
      right: 0px;
      width: 40%;
    }
  }
}

@media all and (max-width: 1319px) {
  .main2 {
    height: 600px;
    .mainBg2 {
      height: 601px;
    }
  }
  .openTitle.big {
    font-size: 24px;
  }
  .main {
    .mainTitle {
      font-size: 45px;
    }

    .mainLogo {
      height: 60px;
    }
    .mainImgLeft {
      left: 0;
      top: auto;
      width: 500px;
      height: 500px;
      background-size: contain;
      background-position: left bottom;
    }
    .mainWrap {
      position: absolute;
      top: 130px;
      left: 0;
      width: 100%;
      -webkit-transform: translate(0);
      -ms-transform: translate(0);
      transform: translate(0);
    }
    .mainImgRight {
      right: 0;
      top: 200px;
      height: 300px;
    }
  }
  .cardArea {
    width: 25%;
  }
  .countTitle {
    font-size: 20px;
  }
  .counter {
    font-size: 20px;
  }
  .counter div > span {
    min-width: 50px;
    line-height: 30px;
  }
  .counter .smallText {
    font-size: 10px;
  }
  .counterDate {
    font-size: 14px;
  }
}
@media all and (max-width: 1023px) {
  .cardArea {
    width: 33.333333%;
  }
}
@media all and (max-width: 767px) {
  .main {
    .mainImgLeft {
      width: 450px;
      height: 450px;
    }
    .mainImgRight {
      background-position: right bottom;
      bottom: 250px;
      top: auto;
    }
    .mainLogo {
      height: 45px;
    }
    .mainTitle {
      font-size: 30px;
    }
    .btnBuy,
    .btnPreparing {
      font-size: 16px;
      line-height: 45px;
      padding: 0 30px;
    }
  }

  .contentsWrap {
    max-width: 100%;
    padding: 10px 20px 100px 20px;
    .contentsTitle {
      font-size: 30px;
      line-height: 30px;
      span {
        font-size: 20px;
      }
    }
    .contnetsText {
      font-size: 14px;
      line-height: 18px;
    }
  }
  .cardArea {
    padding: 5px;
    .cardName {
      font-size: 14px;
    }
    button {
      padding: 5px;
    }
  }

  .blank {
    height: 50px;
  }
}

@media all and (max-width: 530px) {
  .main {
    .mainImgLeft {
      width: 100%;
      height: 300px;
      bottom: 40px;
    }
  }
  .cardArea {
    width: 50%;
  }
}
