@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Noto+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  font-style: normal;
  white-space: normal;
  word-break: keep-all;
  vertical-align: top;
  letter-spacing: -0.025em;
}
img {
  -webkit-touch-callout: none !important;
  pointer-events: none !important;
  -webkit-user-select: none !important;
  -moz-user-select: -moz-none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
button {
  outline: none;
  cursor: pointer;
  border: none;
  background: none;
  vertical-align: top;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
}
input {
  font-family: "Noto Sans", sans-serif;
  color: #222;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

textarea:focus,
input:focus,
input[type]:focus,
.uneditable-input:focus {
  border: solid 1px #6ba6f9;
  outline: 0 none;
}
input::-webkit-input-placeholder {
  color: #bfbfbf;
}
input::-moz-placeholder {
  color: #bfbfbf;
}
input:-ms-input-placeholder {
  color: #bfbfbf;
}
input::-ms-input-placeholder {
  color: #bfbfbf;
}
input::placeholder {
  color: #bfbfbf;
}
textarea {
  font-family: "Noto Sans", sans-serif;
  color: #222;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
textarea:focus {
  outline: none;
  border: none;
}
::-moz-selection {
  background: #81b49e;
  color: #fff;
}
::selection {
  background: #81b49e;
  color: #fff;
}

/* footer style */
.footerWrap {
  background: #414d5e;
  padding: 60px 0 80px 0;
  min-width: 280px;
  position: relative;
}
.footerLine {
  width: 100%;
  height: 60px;
  position: absolute;
  top: -50px;
  background: url("../img/footerTop.svg") bottom repeat-x;
  background-size: 605px;
}
.footerTop {
  width: 100%;
}
.footerArea {
  max-width: 1320px;
  min-width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}
.logoArea {
  display: inline-block;
}
.logoBottom {
  width: 144px;
  height: 40px;
  background: url("../img/logoW.svg") left no-repeat;
  background-size: contain;
  display: inline-block;
  margin-bottom: 10px;
}
.footerIcon {
  float: right;
}
.sns {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  display: inline-block;
}
.sns.gmail {
  background: url("../img/iconGmail.svg") center no-repeat;
  background-size: contain;
}
.sns.twitter {
  background: url("../img/iconTwitter.svg") center no-repeat;
  background-size: contain;
}
.sns.discord {
  background: url("../img/iconDiscord.svg") center no-repeat;
  background-size: contain;
}

address {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #fff;
}
.moLnb .footerIcon {
  margin-top: -30px;
  float: left;
}
.moLnb .footerIcon a {
  display: inline-block;
  width: 40px;
  height: 40px;
  color: #7f7f7f;
}
.moLnb .sns.gmail {
  margin-left: 0;
}

@media all and (max-width: 604px) {
  .footerLine {
    background-size: 100% auto;
  }
}
@media all and (max-width: 374px) {
  .footerIcon {
    float: inherit;
    margin-bottom: 10px;
  }
  .sns {
    margin-left: 0px;
    margin-right: 10px;
  }
  address {
    font-size: 12px;
  }
}
