@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Noto+Sans:wght@400;700&display=swap");
.sub {
  width: 100%;
  min-width: 280px;
  height: 350px;
  position: relative;
  background: -o-linear-gradient(150deg, #103a69, #678cc9, #75ccff);
  background: linear-gradient(300deg, #103a69, #678cc9, #75ccff);
  img {
    -webkit-touch-callout: none !important;
    pointer-events: none !important;
    -webkit-user-select: none !important;
    -moz-user-select: -moz-none !important;
    -ms-user-select: none !important;
    user-select: none !important;
  }
  .subBg {
    width: 100%;
    min-width: 280px;
    height: 350px;
    background: url("../img/mainImgBg.png") no-repeat;
    background-position: center bottom;
    background-size: 100% auto;
    position: relative;
    -webkit-animation: ani 2.5s infinite alternate;
    animation: ani 2.5s infinite alternate;
    z-index: 12;
  }

  .subLeft {
    width: 300px;
    height: 300px;
    background: url("../img/mainImgLeft.png") center no-repeat;
    background-size: contain;
    position: absolute;
    top: 20px;
    left: 40px;
    -webkit-animation: aniLeft 2s infinite alternate;
    animation: aniLeft 2s infinite alternate;
    z-index: 10;
  }
  @-webkit-keyframes aniLeft {
    0% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
    100% {
      -webkit-transform: translate(0px, 10px);
      transform: translate(0px, 10px);
    }
  }
  @keyframes aniLeft {
    0% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
    100% {
      -webkit-transform: translate(0px, 10px);
      transform: translate(0px, 10px);
    }
  }
  .subRight {
    width: 300px;
    height: 300px;
    background: url("../img/mainImgRight.png") center no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    right: 40px;
    -webkit-animation: aniRight 1.5s infinite alternate;
    animation: aniRight 1.5s infinite alternate;
    z-index: 9;
  }
  @-webkit-keyframes aniRight {
    0% {
      -webkit-transform: translate(0, 5px);
      transform: translate(0, 5px);
    }
    100% {
      -webkit-transform: translate(0px, 0);
      transform: translate(0px, 0);
    }
  }
  @keyframes aniRight {
    0% {
      -webkit-transform: translate(0, 5px);
      transform: translate(0, 5px);
    }
    100% {
      -webkit-transform: translate(0px, 0);
      transform: translate(0px, 0);
    }
  }
  .subWrap {
    width: 60%;
    min-width: 280px;
    padding: 0 20px;
    margin: 0 auto;
    vertical-align: top;
    font-size: 0;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 20;
  }
  .subTitle {
    font-size: 26px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    letter-spacing: -0.025em;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.16);
    word-break: keep-all;
    span {
      font-weight: 700;
    }
  }
  .subText {
    color: #fff;
    font-size: 14px;
    width: 100%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    letter-spacing: -0.025em;
    margin-top: 10px;
    word-break: keep-all;
  }
  .subLogo {
    width: 100px;
    height: 80px;
    display: inline-block;
    background: url("../img/logoW.svg") center no-repeat;
    background-size: contain;
  }
}
.blank {
  width: 100%;
  height: 100px;
}
.contentsWrap {
  max-width: 1320px;
  min-width: 280px;
  padding: 100px 20px 100px 20px;
  margin: 0 auto;
  text-align: center;
  .comingSoonTitle {
    width: 100%;
    text-align: center;
    color: #81b49e;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    letter-spacing: -0.025em;
    font-size: 60px;
    word-break: keep-all;
    img {
      width: 50%;
      text-align: center;
      margin-top: 30px;
    }
  }
  .subTitle {
    width: 100%;
    text-align: center;
    color: #222;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    letter-spacing: -0.025em;
    font-size: 60px;
    word-break: keep-all;
    img {
      width: 50%;
      text-align: center;
      margin-top: 30px;
    }
  }
}
.contentsTitle {
  width: 100%;
  text-align: center;
  color: #222;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: -0.025em;
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 20px;
  word-break: keep-all;
  b {
    font-size: 18px;
    color: #888;
    font-weight: 400;
  }
}
.contentsTitle.white {
  color: #fff;
}

.contentsTitle.event {
  margin-bottom: 50px;
  color: #81b49e;
}
.roadmap {
  width: 100%;
  min-width: 280px;
  height: auto;
}
.faqWrap {
  font-size: 0;
  width: 100%;
  min-width: 240px;
  margin-top: 30px;
  .row {
    width: 100%;
    margin-bottom: 10px;
    display: inline-block;
  }
  .faqBox {
    padding: 20px 40px 20px 40px;
    border-radius: 20px;
    text-align: left;
    margin-bottom: 50px;
    background: #e7f1ec;
    -webkit-box-flex: inherit;
    -ms-flex: inherit;
    flex: inherit;
    width: 94%;
    margin-left: 3%;
    min-width: 38px;
  }
  .faqLeft {
    display: inline-block;
    text-align: left;
    width: 6%;
    height: 54px;
    .iconQ {
      width: 100%;
      height: 100%;
      background: url("../img/iconA.svg") left no-repeat;
      background-size: contain;
      border-radius: 50%;
      display: inline-block;
    }
    .iconA {
      width: 100%;
      height: 100%;
      background: url("../img/iconQ.svg") left no-repeat;
      background-size: contain;
      display: inline-block;
      border-radius: 50%;
    }
  }
  .faqRight {
    display: inline-block;
    text-align: left;
    width: 94%;
    .boxMint {
      color: #81b49e;
      background: #fff;
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      letter-spacing: -0.025em;
      font-size: 20px;
      line-height: 54px;
      text-align: left;
      padding: 14px 20px;
      border-radius: 10px;
      line-height: 26px;
    }
    .boxGreen {
      background: #fff;
      color: #222;
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      letter-spacing: -0.025em;
      font-size: 20px;
      text-align: left;
      padding: 14px 20px;
      border-radius: 10px;
      line-height: 26px;
      .greenSmall {
        font-size: 14px;
        line-height: 18px;
        color: #222;
        font-weight: 400;
        b {
          color: #888;
          font-weight: 700;
        }
        span {
          font-weight: 700;
          color: #11aa8b;
        }
      }
    }
  }
}
.memberWrap {
  margin-top: 20px;
  .row.left {
    text-align: left;
    position: relative;
    .memberTitle {
      text-align: left;
      left: 20%;
    }
  }
  .row.right {
    text-align: right;
    position: relative;
    .memberTitle {
      text-align: right;
      right: 20%;
    }
  }
  .memberImg {
    display: inline-block;
    width: 20%;
    img {
      max-width: 100%;
      -webkit-box-shadow: 0px 0px 10px rgba(129, 180, 158, 0.2);
      box-shadow: 0px 0px 10px rgba(129, 180, 158, 0.2);
      border-radius: 20px;
      border: solid 3px #e0efe8;
    }
  }
  .memberTitle {
    display: inline-block;
    width: 30%;
    word-break: keep-all;
    position: absolute;
    padding: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    .memberName {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      letter-spacing: -0.025em;
      font-size: 24px;
      color: #222;
      word-break: keep-all;
      span {
        color: #81b49e;
        font-size: 16px;
      }
    }
  }
  .memberText {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    letter-spacing: -0.025em;
    font-size: 14px;
    color: #222;
    word-break: keep-all;
  }
}
.guideWrap {
  margin-top: 20px;
  .row.left {
    text-align: center;
    padding: 20px 0;
    .guideTitle {
      text-align: left;
    }
  }
  .guideImg {
    display: inline-block;
    width: 30%;
    position: relative;
    img {
      max-width: 100%;
      -webkit-box-shadow: 0px 0px 10px rgba(129, 180, 158, 0.2);
      box-shadow: 0px 0px 10px rgba(129, 180, 158, 0.2);
      border-radius: 20px;
      border: solid 3px #e0efe8;
    }
  }
  .guideTitle {
    display: inline-block;
    width: 60%;
    word-break: keep-all;
    padding: 20px;
    .guideName {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      letter-spacing: -0.025em;
      font-size: 24px;
      color: #222;
      word-break: keep-all;
      span {
        color: #81b49e;
        font-size: 40px;
      }
    }
  }
}
.guideName b {
  color: #666;
  font-size: 16px;
  width: 100%;
  font-weight: 400;
  display: inline-block;
}
.wrapDeepGreen {
  width: 100%;
  min-width: 280px;
  background: #e0efe8;
  position: relative;
  margin-top: 50px;
  padding-top: 50px;

  .contentsWrap .contentsTitle {
    color: #11aa8b;
  }
}
.map1 {
  width: 30%;
  -webkit-animation: animap 1s infinite alternate;
  animation: animap 1s infinite alternate;
  z-index: 10;
}
.blueLine {
  width: 100%;
  height: 60px;
  position: absolute;
  top: -50px;
  background: url(../img/blueTop.svg) bottom repeat-x;
  background-size: 605px;
}
.greenLine {
  width: 100%;
  height: 60px;
  position: absolute;
  top: -50px;
  background: url(../img/greenTop.svg) bottom repeat-x;
  background-size: 605px;
}

@-webkit-keyframes animap {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(0px, 10px);
    transform: translate(0px, 10px);
  }
}

@keyframes animap {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(0px, 10px);
    transform: translate(0px, 10px);
  }
}
.map2 {
  max-width: 100%;
  min-width: 280px;
}
.bgBlue {
  width: 100%;
  min-width: 280px;
  text-align: center;
  background: #7dcfe2;
  padding-bottom: 100px;
  padding-top: 100px;
  position: relative;
  margin-top: 50px;
}
.bgSkyblue {
  width: 100%;
  min-width: 280px;
  text-align: center;
  background: #def5ff;
  padding-top: 100px;
  position: relative;
  margin-top: 50px;
}
.wrapCollection {
  width: 100%;
  margin-top: 20px;
  font-size: 0;
  text-align: left;
}
.collectionArea {
  width: 20%;
  display: inline-block;
  padding: 10px;
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
  .collectionContain {
    width: 100%;
    background: #e0efe8;
    border-radius: 20px;
    padding: 10px;
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
  }
  .collectionImg {
    width: 100%;
    position: relative;
    img {
      max-width: 100%;
      border-radius: 15px;
      -webkit-touch-callout: none !important;
      pointer-events: none !important;
      -webkit-user-select: none !important;
      -moz-user-select: -moz-none !important;
      -ms-user-select: none !important;
      user-select: none !important;
    }
    .soldOut {
      position: absolute;
      top: -1px;
      right: -1px;
      width: 100%;
      height: 100%;
      background: url("../img/soldOut.png") center no-repeat;
      background-size: 100%;
      border-radius: 15px;
      overflow: hidden;
    }
  }

  .collectionName {
    width: 100%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 16px;
    padding: 20px 0 0 0;
    color: #81b49e;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }
}
.btnViewMore {
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 60px;
  background: #81b49e;
  color: #fff;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 50px;
  margin-top: 30px;
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
}
.btnViewMore:hover {
  background: #25b094;
  color: #fff;
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}
.collectionArea:hover .collectionContain {
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
}
.aboutWrap {
  font-size: 0;
  position: relative;
  .row.half {
    width: 50%;
    display: inline-block;
    img {
      width: 70%;
    }
    .aboutText {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      letter-spacing: -0.025em;
      font-size: 16px;
      text-align: left;
      line-height: 20px;
      color: #888888;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      span {
        color: #11aa8b;
      }
    }
  }
}
.eventWrap {
  width: fit-content;
  padding: 40px;
  font-size: 0;
  position: relative;
  display: inline-block;
  -webkit-box-shadow: 0px 0px 10px rgba(129, 180, 158, 0.2);
  box-shadow: 0px 0px 10px rgba(129, 180, 158, 0.2);
  border-radius: 20px;
  border: solid 3px #e0efe8;
  .row.half {
    width: 100%;
    display: inline-block;
    img {
      width: 70%;
      border-radius: 10%;
    }
    .eventText {
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      letter-spacing: -0.025em;
      font-size: 16px;
      text-align: left;
      line-height: 20px;
      color: #888888;
      word-break: keep-all;
      width: 460px;
      display: inline-block;
      .b {
        font-weight: 700;
        color: #222;
        text-align: center;
      }
      .ee2 {
        font-weight: 700;
        text-align: left;
        width: fit-content;
        display: inline-block;
        color: #81b49e;
      }
      .ee {
        b {
          font-weight: 700;
        }
        text-align: left;
        word-break: break-all;
        display: inline-block;
        width: fit-content;
        color: #222;
        font-size: 14px;
      }
      .btnEvent {
        padding: 0 60px;
        background: #d74a50;
        color: #fff;
        border-radius: 30px;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 60px;
        -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.26);
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.26);
        margin-top: 40px;
        -webkit-transition: all 0.15s ease-in-out;
        -o-transition: all 0.15s ease-in-out;
        transition: all 0.15s ease-in-out;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
      }
      .btnEvent:hover {
        -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.26);
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.26);
      }
    }
  }
}
.ecountTitle {
  letter-spacing: -0.025em;
  font-family: "Montserrat", sans-serif;
  color: #81b49e;
  font-size: 20px;
  font-weight: 700;
  margin-top: 40px;
}
.emainCount {
  text-align: center;
}
.ecounter {
  color: #81b49e;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  margin-top: 10px;
}
.ecounter > div {
  border-radius: 5px;
  display: inline-block;
  margin-right: 10px;
  span {
    padding: 10px;
    background: #e0efe8;
    display: inline-block;
    min-width: 60px;
    font-weight: 400;
    line-height: 40px;
    color: #81b49e;
    border-radius: 50%;
  }
}
.ecounter .esmallText {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: center;
  color: #81b49e;
}
.ecounterDate {
  letter-spacing: -0.025em;
  line-height: 1.71;
  font-family: "Montserrat", sans-serif;
  color: #222;
  font-size: 20px;
  font-weight: 700;
}

.wrapEvent {
  width: 50%;
  margin-top: 40px;
  font-size: 0;
  padding: 10px;
  display: inline-block;
  .event {
    text-align: center;
    background: #fff;
    border-radius: 20px;
    padding: 30px;
    -webkit-box-shadow: 0px 0px 20px rgba(129, 180, 158, 0.2);
    box-shadow: 0px 0px 20px rgba(129, 180, 158, 0.2);
  }
  .eventDetailText {
    font-size: 14px;
    color: #888888;
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    text-align: center;
    width: 100%;
    display: inline-block;
  }
  .eventDetailSubtitle {
    font-size: 0;
    text-align: left;
    .row {
      display: inline-block;
      width: 100%;
      padding: 5px 0;
    }
    .row.half {
      display: block;
      width: 100%;
      padding: 5px;
      div {
        display: inline-block;
      }
    }
    .boxGreen {
      padding: 10px;
      background: #e9f4ef;
      border-radius: 10px;
      width: 100%;
    }
    .title {
      display: inline-block;
      width: 100%;
      font-family: "Montserrat", sans-serif;
      font-size: 11px;
      color: #81b49e;
      font-weight: 700;
      word-break: keep-all;
      text-align: left;
    }
    .value {
      display: inline-block;
      width: 100%;
      font-family: "Noto Sans", sans-serif;
      font-size: 14px;
      line-height: 20px;
      font-weight: 700;
      word-break: keep-all;
      color: #222;
      position: relative;
      text-align: left;
    }
  }
}

.eventArea {
  text-align: center;
  display: inline-block;
  padding: 5px;
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.eventArea.area60 {
  width: 60%;
}
.eventArea.area40 {
  width: 40%;
}
.eventDetailTitle {
  font-size: 20px;
  color: #81b49e;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}
.eventImgWrap {
  width: 100%;
  background: #e0efe8;
  border-radius: 20px;
  padding: 10px;
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  position: relative;
  display: inline-block;
  .eventImg {
    width: 100%;
    img {
      max-width: 100%;
      border-radius: 15px;
      -webkit-touch-callout: none !important;
      pointer-events: none !important;
      -webkit-user-select: none !important;
      -moz-user-select: -moz-none !important;
      -ms-user-select: none !important;
      user-select: none !important;
    }
  }
}

.collectionTop {
  text-align: right;
  .searchWrap {
    display: inline-block;
    position: relative;
    width: 236px;
    margin-right: 10px;
    input {
      background: #e7f1ec;
      border: solid 2px #e7f1ec;
      outline: none;
      -webkit-appearance: none;
      -webkit-border-radius: 0;
      -webkit-transition: all 0.15s ease-in-out;
      -o-transition: all 0.15s ease-in-out;
      transition: all 0.15s ease-in-out;
      outline: solid 0px #81b49e;
      font-size: 16px;
      line-height: 41px;
      color: #222;
      width: 100%;
      padding: 0 40px 0 15px;
      border-radius: 30px;
      font-family: "Noto Sans", sans-serif;
    }
    input:focus {
      border: solid 2px #81b49e;
      outline: none;
      background: #fff;
    }
    input::-webkit-input-placeholder {
      color: #81b49e;
      font-size: 14px;
      font-weight: 700;
    }
    input::-moz-placeholder {
      color: #81b49e;
      font-size: 14px;
      font-weight: 700;
    }
    input:-ms-input-placeholder {
      color: #81b49e;
      font-size: 14px;
      font-weight: 700;
    }
    input::-ms-input-placeholder {
      color: #81b49e;
      font-size: 14px;
      font-weight: 700;
    }
    input::placeholder {
      color: #81b49e;
      font-size: 14px;
      font-weight: 700;
    }
    .btnSearch {
      width: 22px;
      height: 22px;
      background: url("../img/iconSearch.svg") center no-repeat;
      background-size: contain;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      right: 10px;
    }
  }

  .filterWrap {
    display: inline-block;
    position: relative;
    margin-right: 20px;
    .btnFilter {
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      height: auto;
      padding: 0 40px;
      background: #e7f1ec;
      border: solid 2px #e7f1ec;
      color: #81b49e;
      border-radius: 25px;
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 14px;
      line-height: 41px;
      -webkit-transition: all 0.15s ease-in-out;
      -o-transition: all 0.15s ease-in-out;
      transition: all 0.15s ease-in-out;
      cursor: pointer;
    }
    .btnFilterClose {
      position: absolute;
      top: -60px;
      left: 0;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      height: auto;
      padding: 0 40px;
      background: #fff;
      border: solid 2px #81b49e;
      color: #81b49e;
      border-radius: 25px;
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 14px;
      line-height: 41px;
      -webkit-transition: all 0.15s ease-in-out;
      -o-transition: all 0.15s ease-in-out;
      transition: all 0.15s ease-in-out;
      cursor: pointer;
    }
    .rotate3 {
      width: 10px;
      height: 41px;
      background: url("../img/iconDownG.svg") center no-repeat;
      background-size: contain;
      display: inline-block;
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
      -webkit-transition: all 0.1s ease-in-out;
      -o-transition: all 0.1s ease-in-out;
      transition: all 0.1s ease-in-out;
    }
    .rotate4 {
      width: 10px;
      height: 41px;
      background: url("../img/iconDownG.svg") center no-repeat;
      background-size: contain;
      display: inline-block;
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
      -webkit-transition: all 0.1s ease-in-out;
      -o-transition: all 0.1s ease-in-out;
      transition: all 0.1s ease-in-out;
    }
    .filterArea {
      display: none;
      position: absolute;
      width: 250px;
      background: #fff;
      padding: 15px;
      border-radius: 15px;
      -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.26);
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.26);
      z-index: 50;
      top: 60px;
      left: 0;
      font-size: 0;
      .filterTitle {
        width: 35%;
        font-family: "Montserrat", sans-serif;
        font-size: 12px;
        color: #222;
        font-weight: 700;
        word-break: keep-all;
        text-align: left;
        display: inline-block;
        margin-bottom: 3px;
        line-height: 40px;
      }
      select {
        width: 65%;
        font-size: 14px;
        line-height: 40px;
        color: #81b49e;
        font-family: "Noto Sans", sans-serif;
        border: solid 2px #e7f1ec;
        font-weight: 700;
        height: 40px;
        border-radius: 5px;
        padding: 0 5px;
        margin-bottom: 10px;
      }
      select:focus {
        border: solid 2px #81b49e;
        outline: none;
        color: #222;
      }
      .btnFilterSearch {
        background: #81b49e;
        border: solid 2px #81b49e;
        color: #fff;
        border-radius: 5px;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 36px;
        -webkit-transition: all 0.15s ease-in-out;
        -o-transition: all 0.15s ease-in-out;
        transition: all 0.15s ease-in-out;
        width: 100%;
      }
    }
  }
}
.mapWrap {
  font-size: 0;
  position: relative;
  .row.half {
    width: 40%;
    display: inline-block;
    img {
      width: 70%;
    }
  }
  .mapText {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    letter-spacing: -0.025em;
    font-size: 16px;
    text-align: left;
    line-height: 20px;
    color: #888;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
.half3 {
  width: 25%;
  display: inline-block;
  padding: 20px;
  img {
    max-width: 320px;
    width: 100%;
    -webkit-box-shadow: 0px 0px 10px rgba(129, 180, 158, 0.2);
    box-shadow: 0px 0px 10px rgba(129, 180, 158, 0.2);
    border-radius: 20px;
    border: solid 3px #e0efe8;
  }
}
.mapName {
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: -0.025em;
  font-size: 20px;
  color: #222;
  word-break: keep-all;
  margin-top: 20px;
  span {
    color: #81b49e;
    font-size: 40px;
    font-weight: 700;
  }
}
@media all and (max-width: 1319px) {
  .sub .subLeft {
    top: auto;
    bottom: 10px;
    left: 0;
  }
  .sub .subRight {
    width: 250px;
    height: 250px;
    top: auto;
    bottom: 10px;
    right: 0;
  }
  .memberWrap .row.right,
  .memberWrap .row.left {
    padding: 20px 0;
  }
  .memberWrap .memberTitle {
    width: 50%;
  }
  .collectionArea {
    width: 25%;
  }
  .faqWrap .faqLeft {
    width: 10%;
  }
  .faqWrap .faqRight {
    width: 90%;
  }

  .guideWrap .guideTitle {
    width: 70%;
  }
  .eventArea {
    width: 25%;
  }
  .eventArea.area60 {
    width: 70%;
  }
  .eventArea.area40 {
    width: 30%;
  }
  .half3 {
    width: 33.333333%;
  }
}
@media all and (max-width: 1100px) {
  .eventArea.area60,
  .eventArea.area40 {
    width: 80%;
  }
}

@media all and (max-width: 1023px) {
  .collectionArea {
    width: 33.333333%;
  }
  .aboutWrap {
    margin: 60px 0;
  }
  .aboutWrap .row.half .aboutText {
    font-size: 14px;
    line-height: 18px;
  }
  .eventWrap {
    margin: 60px 0;
  }

  .eventWrap .row.half .eventText {
    font-size: 14px;
    line-height: 18px;
  }
  .eventWrap .row.half .eventText .ee {
    font-size: 12px;
  }
  .faqWrap {
    .faqLeft {
      height: 38px;
      .iconQ,
      .iconA {
        background-position: center;
      }
    }
    .faqBox {
      margin-bottom: 30px;
      padding: 20px;
    }
    .faqRight .boxGreen {
      font-size: 14px;
      line-height: 18px;
      padding: 10px;
      .greenSmall {
        font-size: 12px;
        line-height: 14px;
      }
    }
    .faqRight .boxMint {
      font-size: 14px;
      line-height: 18px;
      padding: 10px;
    }
  }
  .eventArea {
    width: 33.333333%;
  }
}

@media all and (max-width: 850px) {
  .memberWrap .memberTitle {
    width: 70%;
  }
  .eventArea.area60,
  .eventArea.area40 {
    width: 100%;
  }
}
@media all and (max-width: 767px) {
  .contentsTitle {
    font-size: 30px;
    line-height: 30px;
    b {
      font-size: 13px;
    }
  }
  .blank {
    height: 50px;
  }

  .contentsWrap .comingSoonTitle {
    font-size: 40px;
  }
  .sub .subLeft {
    width: 250px;
    height: 250px;
  }
  .sub .subRight {
    width: 250px;
    height: 250px;
  }
  .sub {
    height: 300px;
    .subBg {
      height: 300px;
    }
  }
  .contentsWrap {
    padding: 50px 20px 50px 20px;
  }
  .bgBlue {
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .bgSkyblue {
    padding-top: 50px;
  }
  .memberWrap .memberImg {
    width: 30%;
  }
  .memberWrap .memberTitle {
    width: 100%;
    position: inherit;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    left: 0 !important;
    right: inherit;
    padding: 20px 0;
  }
  .guideWrap .guideImg {
    width: 50%;
  }
  .guideWrap .guideTitle {
    width: 100%;
    position: inherit;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    left: 0 !important;
    right: inherit;
    padding: 20px 0;
  }
  .collectionArea .collectionName {
    font-size: 14px;
  }
  .collectionArea {
    padding: 5px;
    .collectionContain {
      padding: 5px;
    }
  }
  .aboutWrap {
    margin: 0;
    .row.half {
      width: 100%;
      img {
        width: 40%;
      }
      .aboutText {
        margin-top: 30px;
        position: inherit;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
      }
    }
  }
  .mapWrap {
    margin: 0;
    .row.half {
      width: 100%;
      img {
        width: 40%;
      }
      .mapText {
        margin-top: 30px;
        position: inherit;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);

        width: fit-content;
        display: inline-block;
      }
    }
  }
  .contentsTitle.event {
    margin-bottom: 20px;
  }
  .eventWrap {
    margin: 0;

    .row.half {
      width: 100%;
      text-align: center;
      img {
        width: 40%;
      }
      .eventText {
        display: inline-block;
        margin-top: 30px;
        .btnEvent {
          font-size: 16px;
          line-height: 45px;
          padding: 0 30px;
          margin-top: 20px;
        }
      }
    }
  }
  .btnViewMore,
  .btnViewMoreEvent {
    font-size: 16px;
    line-height: 45px;
    padding: 0 30px;
  }

  .collectionTop .filterWrap {
    margin-right: 10px;
  }
  .collectionTop .searchWrap {
    width: 180px;
    input {
      font-size: 12px;
    }
  }
  .collectionTop .filterWrap .btnFilter,
  .collectionTop .filterWrap .btnFilterClose {
    padding: 0 20px;
  }
  .eventArea {
    padding: 5px;
    button {
      padding: 5px;
    }
  }
  .wrapMap {
    text-align: left;
    font-size: 0;
  }
  .wrapMap .half3 {
    width: 50%;
    padding: 10px;
  }
  .wrapEvent {
    width: 100%;
    padding: 0;
  }
  .wrapEvent {
    width: 60%;
  }
  .ecountTitle {
    font-size: 20px;
  }
  .ecounter {
    font-size: 20px;
  }
  .ecounter div > span {
    min-width: 50px;
    line-height: 30px;
  }
  .ecounter .smallText {
    font-size: 10px;
  }
  .ecounterDate {
    font-size: 14px;
  }
  .eventWrap .row.half img {
    width: 50%;
  }

  .mapName {
    font-size: 16px;
    span {
      font-size: 30px;
    }
  }
}
@media all and (max-width: 604px) {
  .blueLine {
    background-size: 100% auto;
  }
  .skyblueLine {
    background-size: 100% auto;
  }
  .sub .subLeft {
    width: 180px;
    height: 180px;
  }
  .sub .subRight {
    width: 180px;
    height: 180px;
  }
  .memberWrap .memberImg {
    width: 100%;
  }

  .guideWrap .row.left {
    text-align: center;
    padding: 0;
  }
  .guideWrap .guideImg {
    width: 70%;
  }
  .guideWrap .guideTitle .guideName {
    font-size: 16px;
  }
  .guideName b {
    font-size: 13px;
    line-height: 16px;
    display: inline-block;
  }
  .aboutWrap .row.half img {
    width: 50%;
  }
  .eventWrap .row.half img {
    width: 50%;
  }
  .faqWrap .faqLeft {
    width: 15%;
  }
  .faqWrap .faqRight {
    width: 85%;
  }
  .wrapEvent {
    width: 80%;
  }
  .eventWrap .row.half img {
    width: 60%;
  }
  .eventWrap .row.half .eventText {
    width: 100%;
  }
  .eventWrap {
    padding: 30px 10px;
  }
}
@media all and (max-width: 530px) {
  .collectionArea {
    width: 50%;
  }
  .eventArea {
    width: 50%;
  }
  .wrapEvent {
    width: 100%;
  }
  .wrapEvent .event {
    padding: 20px;
  }
  .eventWrap .row.half img {
    width: 75%;
  }
  .half3 img {
    width: 100%;
  }
}

@media all and (max-width: 374px) {
  .sub .subLeft {
    width: 150px;
    height: 150px;
    top: auto;
    bottom: 10px;
    left: 0;
  }
  .sub .subRight {
    width: 150px;
    height: 150px;
    top: auto;
    bottom: 10px;
    right: 0;
  }

  .collectionTop .searchWrap {
    width: 150px;
  }
  .faqWrap .faqLeft {
    width: 25%;
  }
  .faqWrap .faqRight {
    width: 75%;
  }
  .wrapEvent .eventDetailSubtitle .row.half {
    width: 100%;
  }
  .eventWrap .row.half img {
    width: 70%;
  }
  .wrapMap .half3 {
    width: 90%;
  }
}
@media all and (max-width: 310px) {
  .collectionTop .searchWrap {
    width: 126px;
  }
  .ecounter div > span {
    min-width: 40px;
    line-height: 20px;
  }
}
